@using Bulky.Models.Models
@model ProductVM
<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.ProductId" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class="row pb-3">

                    <h2 class="btn btn-primary">
                        @(Model.Product.ProductId != 0 ? "Update" : "Create")
                        Product
                    </h2>
                    <hr />
                </div>


                <div asp-validation-summary="All">
                    <div class="mb-3">
                        <label>Title</label>
                        <input asp-for="Product.Title" type="text" class="form-control" />
                        <span asp-validation-for="Product.Title" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>Description</label>
                        <textarea asp-for="Product.Description" type="text" class="text-muted"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>ISBN</label>
                        <input asp-for="Product.ISBN" type="text" class="form-control" />
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>

                    </div>



                    <div class="mb-3">
                        <label>Author</label>
                        <input asp-for="Product.Author" type="text" class="form-control" />
                        <span asp-validation-for="Product.Author" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>ListPrice</label>
                        <input asp-for="Product.ListPrice" type="text" class="form-control" />
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>Price</label>
                        <input asp-for="Product.Price" type="text" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>Price50</label>
                        <input asp-for="Product.Price50" type="text" class="form-control" />
                        <span asp-validation-for="Product.Price50" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>Price100</label>
                        <input asp-for="Product.Price100" type="text" class="form-control" />
                        <span asp-validation-for="Product.Price100" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label>ImageUrl</label>
                        <input type="file" asp-for="Product.ImageUrl" name="file" class="form-control" />


                    </div>
                    <div class="mb-3">
                        <label>Category Name</label>
                        <select asp-for="@Model.Product.CategoryId" asp-items=@Model.categoryList class="form-control text-dark">
                            <option disabled selected>--Select Category--</option>
                        </select>

                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="col-6 col-md-3">
                    @if(Model.Product.ProductId!=0){
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>}
                    else{
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                }
                </div>
            </div>
        </div>
        <div class="col-2">
            <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px;border:1px" />
        </div>
    </div>
        
               
         
        
</form>
@section Scripts{
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
    });

   
   </script>
   
}